@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #0C0B0A;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    -webkit-font-smoothing: antialiased;
  }
}
